# main root gitignore for any wordpress website that you use as a dev environment - basically ignore everything except what you need
*
!*/
!/wp-content/plugins/falang
!/wp-content/plugins/falang/**
!/wp-content/themes/g5_helium
!/wp-content/themes/g5_helium/**
!/.gitignore
!/.htaccess
